<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
  
   
</head>

<body>



  

    <div class="container">

      <div class="form-row row">
      <div class="col-md-2">
        <label for="languageSelect">Select Language:</label>
        <div class="input-group mb-3">
            <select class="form-select" id="languageSelect" onchange="changeLanguage()">
                <option value="en">English</option>
                <option value="fr">Français</option>
            </select>
        </div>
      </div>
      </div>


    <form id="registrationForm" action="/feedback" method="post" enctype="multipart/form-data" >

        <!----Progress bar --->
        <div class="progress" style="height: 25px;">
          <div class="progress-bar progress-bar-striped bg-success" id="changeWidth" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!------->


        <!---------------------------------------- FORM 1 ------------------------------------------>
        
        <div class="step-form active" id="step1">
          <h2 style="text-align: center; color: navy;" id="heading1"> REPORTING INFORMATION </h2>

          <div class="form-row row">
            <div class="form-group col-md-3">
             <input type="text" class="form-control" id="name" name="name" placeholder="">
            </div>

            <div class="form-group col-md-3">
             <input type="text" class="form-control" id="role" name="role" placeholder="">
            </div>
            
            <div class="form-group col-md-3">
             <input type="text" class="form-control" id="Qualification" name="qualification" placeholder="">
            </div>
          </div>
          
          <div class="form-group row" style="margin-top: 8px;">
            <label for="datepicker" class="col-md-2 col-form-label">Date of Inspection:</label>
            <div class="col-md-2">
              <input type="date" id="datepicker" name="date_of_inspection" class="form-control">
            </div>
          </div>
          
        
          <div class="form-row row" style="margin-top: 8px;">
            <div class="form-group col-md-1" id="one">
              <label for="inputState" class="col-form-label">Tools</label>
            </div>
            <div class="form-group col-md-2">
              <select id="inputState" class="form-control" name="tools">
                <option selected>xyz</option>
                <option>Tool1</option>
                <option>Tool2</option>
              </select>
            </div>
            
            <div class="form-group col-md-1" id="two">
              <label for="inputState" class="col-form-label">Methods</label>
            </div>
            <div class="form-group col-md-2">
              <select id="inputState" class="form-control" name="methods">
                <option selected>xyz</option>
                <option>Method 1</option>
                <option>Method 2</option>
              </select>
            </div>
          </div>
          
          
      <div class="form-row row"  >

        <div class="form-group col-md-6" style="margin-top: 8px; ">
          <textarea class="form-control" id="purpose_of_condition_report" rows="2" placeholder="" name="purpose_of_condition_report" ></textarea>
        </div>

        <div class="form-group col-md-1" style=" display: flex; align-items: center; justify-content: center;">
        
         </div>
      </div>   


     

        <div class="form-group col-md-3" style="margin-top: 8px;">
         <input type="text" class="form-control" id="name_of_client" placeholder="" name="name_of_client">
        </div>
             
        
        <div class="accordion" id="accordionExample" style="margin-top: 8px;">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                WORKING CONDITIONS UNDER WHICH REPORT IS CREATED 
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
        <!---->
        <div class="form-row row">
          <div class="form-group col-md-2">
          <!--  <label for="inputEmail4">Name</label>  -->
            <input type="text" class="form-control" id="height" placeholder="" name="height">
          </div>
          <div class="form-group col-md-2">
           <input type="text" class="form-control" id="examination_center" placeholder="" name="examination_center">
          </div>
          
          <div class="form-group col-md-2">
           <input type="text" class="form-control" id="platform" placeholder="Platform" name="platform">
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="behind_glass" placeholder="Behind Glasses" name="behind_glass">
           </div>
        </div>
        
        <div class="form-row row">
          <div class="form-group col-md-2">
          <!--  <label for="inputEmail4">Name</label>  -->
            <input type="text" class="form-control" id="quantity" placeholder="Quantity"  name="quantity">
          </div>
          <div class="form-group col-md-2">
           <input type="text" class="form-control" id="quality" placeholder="Quality" name="quality">
          </div>
          
          <div class="form-group col-md-2">
           <input type="text" class="form-control" id="nature" placeholder="Nature" name="nature">
          </div>
        </div>
        
        
         <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-md-2 pt-0" style="font-weight: bold;">Assets Used :-</legend>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Yes" id="flexCheckDefault" name="ruler" >
                <label class="form-check-label" for="flexCheckDefault">Ruler</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Yes" id="flexCheckChecked" name="microscope" >
                <label class="form-check-label" for="flexCheckChecked">Microscope</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Yes" id="flexCheckChecked2" checked name="camera">
                <label class="form-check-label" for="flexCheckChecked2">Camera</label>
              </div>
            </div>
          </div>
        </fieldset>
        
        
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-md-2 pt-0" style="font-weight: bold;">Protection :-</legend>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Yes" id="flexCheckDefault" name="gloves">
                <label class="form-check-label" for="flexCheckDefault">Gloves</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="Yes" id="flexCheckChecked" name="clothing">
                <label class="form-check-label" for="flexCheckChecked">Clothing</label>
              </div>
            </div>
          
          </div>
        </fieldset>
        
        <!---->
        </div>
        </div>
        </div>
        </div>
        
        
        
        
        <fieldset class="form-group" style="margin-top: 8px;">
          <div class="row">
            <legend class="col-form-label col-md-3 pt-0" style="font-weight: bold;">Reliability of collected data :-</legend>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="reliability" id="gridRadios1" value="Not Available" checked>
                <label class="form-check-label" for="gridRadios1">
                  Not Available
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Incomplete">
                <label class="form-check-label" for="gridRadios2">
                  Incomplete
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="Exhaustive">
                <label class="form-check-label" for="gridRadios3">
                  Exhaustive
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        
          
        <div class="accordion" id="accordionExampl" style="margin-top: 8px;">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThre">
              <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThre" aria-expanded="false" aria-controls="collapseThree">
            ADDITIONAL DETAILS (OPTIONAL)
              </button>
            </h2>
            <div id="collapseThre" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                
                <!---->
                <div class="form-row row">
                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="person_present_name" placeholder="Person Present Name" name="person_present_name">
                  </div>
                  
                  
                  <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="person_present_role" placeholder="Person Present Role" name="person_present_role">
                  </div>
                </div>
                
                <div class="form-row row">
                <div class="form-group col-md-3">
                  <label for="inputState">Duration of Assesment</label>
                  <select id="inputState" class="form-control" name="duration_of_assessment">
                    <option selected>1 hour</option>
                    <option>1 hour to 2 hours</option>
                    <option>2 hours to 3 hours </option>
                  </select>
                </div>
                
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Inaccessibility of part of asset</label>
                  <input type="text" class="form-control" id="inaccessibility" placeholder="Inaccessibility of part of asset" name="inaccessibility">
                </div>
                </div>
                <!---->
        
              </div>
            </div>
          </div>
        </div>
        
          <div>
            <button type="button" class="btn btn-success next">Next</button>
        </div>
        </div>



            <!---------------------------------------- FORM 2 ---------------------------------------->
            <div class="step-form" id="step2">

              <h2 style="text-align: center; color: navy;" id="heading2"> OBJECT IDENTIFICATION  </h2>

            <h5 style="font-weight: bold;"> Identifiers:</h5>

            <div class="form-row row">

               <div class="form-group col-md-3">
                 <input type="text" class="form-control" id="identification_no" name="identification_no" placeholder="Identification Number">
               </div>

              <div class="form-group col-md-9">
                <div class="form-row row">

                  <div class="col-md-3">
                    <label  class="col-form-label" for="datepicker"  >Date of Acquisition:</label>
                  </div>

                  <div class="col-md-3">
                    <input type="date" id="datepicker" name="date_of_acquisition" class="form-control">
                  </div>

                </div>
              </div>

            </div>

            <h5 style="font-weight: bold;"> Tags:</h5>

            <div class="form-row row">

              <div class="form-group col-md-3">
                <input type="text" class="form-control" id="name_of_asset" name="name_of_asset" placeholder="Name of asset" >
              </div>

              <div class="form-group col-md-3">
               <input type="text" class="form-control" id="title" name="title" placeholder="Title">
              </div>
              
              <div class="form-group col-md-3">
               <input type="text" class="form-control" id="heading" name="heading" placeholder="Heading">
              </div>

            </div>

            <h5 style="font-weight: bold;"> Creation Details :</h5>

            <div class="form-row row">

              <div class="form-group col-md-3">
                <input type="text" class="form-control" id="author" name="author" placeholder="Author / Creator">
              </div>

              <div class="form-group col-md-3">
               <input type="text" class="form-control" id="origin" name="origin" placeholder="Origin">
              </div>
              
              <div class="form-group col-md-6">
                <div class="form-row row">

                  <div class="col-md-3">
                    <label  class="col-form-label" for="datepicker">Date of Creation:</label>
                  </div>

                  <div class="col-md-3">
                    <input type="date" id="datepicker" name="date_of_creation" class="form-control">
                  </div>

                </div>
              </div>

            </div>

           
            <hr>
            <div class="form-row row" style="margin-top: 8px;">

              <div class="form-group col-md-3">
                <input type="text" class="form-control" id="ownership" name="ownership" placeholder="Ownership">
              </div>

              <div class="form-group col-md-3">
                <input type="text" class="form-control" id="protection" name="protection" placeholder="Protection">
              </div>

            </div>


            <div class="form-group col-md-6" style="margin-top: 8px;">
              <textarea class="form-control" id="summary" rows="2" name="summary" placeholder="Summary of its importance"></textarea>
            </div>

            
            <div>
              <button type="button" class="btn btn-secondary prev">Previous</button>
              <button type="button" class="btn btn-success next">Next</button>
          </div>

        </div>
            <!-----------------------------------------FORM 3 ---------------------------------------------------->
            <div class="step-form" id="step3">

              <h2 style="text-align: center; color: navy;" id="heading3"> OBJECT DESCRIPTION  </h2>

              <h5 style="font-weight: bold;"> Nature :</h5>

              <div class="form-row row">
  
                <div class="form-group col-md-2">
                  <input type="text" class="form-control" id="material" name="material" placeholder="Material">
                </div>

                <div class="form-group col-md-2">
                  <input type="text" class="form-control" id="structure" name="structure" placeholder="Structure">
                </div>

                <div class="form-group col-md-2">
                  <input type="text" class="form-control" id="surface" name="surface" placeholder="Surface">
                </div>

                <div class="form-group col-md-2">
                  <input type="text" class="form-control" id="history" name="history" placeholder="History ">
                </div>
 
             </div>

             <div class="form-row row">

              <div class="form-group col-md-2">
                <input type="text" class="form-control" name="technique" id="technique" placeholder="Technique">
              </div>

              <div class="form-group col-md-2">
                <input type="text" class="form-control"  name="weight" id="weight" placeholder="Weight">
              </div>

              <div class="form-group col-md-2">
                <input type="text" class="form-control" id="contituent_elements"  placeholder="Constituent elements">
              </div>

              <div class="form-group col-md-2" id="two">
                <label for="inputState" class="col-form-label">Number of elements</label>
              </div>
              <div class="form-group col-md-1">
                <select id="inputState" class="form-control" name="no_of_elements">
                  <option selected>xyz</option>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>

           </div>

          <div class="form-row row">
  
            <div class="form-group col-md-2">
              <input type="text" class="form-control" id="heights" name="heights"  placeholder="Heights">
            </div>

            <div class="form-group col-md-2">
              <input type="text" class="form-control" id="length" name="length" placeholder="Length">
            </div>

            <div class="form-group col-md-2">
              <input type="text" class="form-control" id="width" name="width" placeholder="Width">
            </div>

          </div>

         <hr>
         <div class="form-row row" style="margin-top: 8px;">

           <div class="form-group col-md-6">
            <textarea class="form-control" id="installation_notes" rows="2" name="installation_notes" placeholder="Intallation notes"></textarea>
           </div>

           <div class="form-group col-md-6">
            <textarea class="form-control" id="artist_installation_guide" rows="2" name="artist_installation_guide" placeholder="Artist Installation guide"></textarea>
           </div>

           <div class="form-group col-md-6">
            <textarea class="form-control" id="object_creation_description" rows="2" name = "object_creation_description" placeholder="Object Creation Description"></textarea>
           </div>
          
         </div>
        
        <hr>

        <h6 style="margin-top: 8px;"> Upload photo/Video</h6>
        
        
              <div class="form-row row ">
                <div class="form-group col-md-6">
                  <input type="file" name="ImageFile" class="form-control" id="inputGroupFile02" onchange="displayUploadMessage('tickcontainer1')">
                </div>

                <div class="tick-container" id="tickcontainer1" style="display: none;">
                  &#10004; <!-- This is the HTML entity for a checkmark symbol -->
                </div>
              </div>
        
            <div>
              <button type="button" class="btn btn-secondary prev">Previous</button>
              <button type="button" class="btn btn-success next">Next</button>
            </div>

        </div>
        
            <!------------------------------------------ FORM 4 ------------------------------------------->
        
            <div class="step-form" id="step4">

              <h2 style="text-align: center; color: navy;" id="heading4">  OBJECT ENVIRONMENT </h2>

              <div class="form-row row">
                <div class="form-group col-md-6" style="margin-top: 8px;">
                  <textarea class="form-control" id="environment" name="environment" rows="4" placeholder="Environment in which item is held"></textarea>
                </div>
              </div>
        
              <div class="form-row row">
                <div class="form-group col-md-6" style="margin-top: 8px;">
                  <textarea class="form-control" id="effect" name="effect" rows="4" placeholder="Effect of environment on object"></textarea>
                </div>
              </div>
        
              <div>
                <button type="button" class="btn btn-secondary prev">Previous</button>
                <button type="button" class="btn btn-success next">Next</button>
              </div>
          </div>
        
              <!-------------------------------------- FORM 5---------------------------------------->
              <div class="step-form" id="step5">

                <h2 style="text-align: center; color: navy;" id="heading5">  CONDITIONS DESCRIPTION (OBEJCT) </h2>
        
                <div class="form-row row">
                  <div class="form-group col-md-6" style="margin-top: 8px;">
                    <textarea class="form-control" id="info_observed" name="info_observed" rows="4" placeholder="Information observed concerning current state of item including conservation history "></textarea>
                  </div>
                </div>
        
                <h6 style="margin-top: 8px;"> Condition changed from previous ? </h6>
        
                <div class="form-group col-md-6" style="margin-top: 8px;">
                  <textarea class="form-control" id="report_change" name="report_change" rows="4" placeholder="Please report the change (repair, treatment) "></textarea>
                </div>
        
                <h6 style="margin-top: 8px;"> Damaged Observed ?  Please upload a photo</h6>
        
                <div class="form-row row ">
                  <div class="form-group col-md-6">
                    <input type="file" name="ImageFil" class="form-control" id="inputGroup" onchange="displayUploadMessage('tickcontainer2')">
                  </div>

                  <div class="tick-container" id="tickcontainer2" style="display: none;">
                    &#10004; <!-- This is the HTML entity for a checkmark symbol -->
                  </div>
                </div>
                
                 <div>
                   <button type="button" class="btn btn-secondary prev">Previous</button>
                   <button type="button" class="btn btn-success next">Next</button>
                 </div>

              </div>
           
              
            <!---------------------------------------- FORM 6--------------------------------------------->

            <div class="step-form" id="step6">

              <h2 style="text-align: center; color: navy;" id="heading6"> DIAGNOSTIC AND RECOMMENDATIONS  </h2>
              
              <div class="form-row row">
                <div class="form-group col-md-6" style="margin-top: 8px;">
                  <textarea class="form-control" id="descriptive_diagnosis" rows="4" name="descriptive_diagnosis" placeholder="Descriptive diagnosis of reason for detrioration / Other changes in condition"></textarea>
                </div>
             
                <div class="form-group col-md-6" style="margin-top: 8px;">
                  <textarea class="form-control" id="recommendations" rows="4" name="recommendations" placeholder="Recommendations for further care and/or conservation:"></textarea>
                </div>
              </div>
        
              <div class="form-row row">
                <div class="form-group col-md-6" style="margin-top: 8px;">
                  <textarea class="form-control" id="investigations" rows="4" name="investigations" placeholder="Further scientific, historical, technical or other investigation or analysis"></textarea>
                </div>
              </div>
                     
                 
              <div>
                <button type="button" class="btn btn-secondary prev">Previous</button>
                <button type="submit" class="btn btn-dark">Submit</button>
              </div>

            </div>
              <!------------------------------------------------------------------------------------->
        
              <!------------------------------------------------------------------------------------->
        
        </form>
      
        
    </div>



<script  src="language.js"></script>
<script  src="logic.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


</body>

</html>