body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0;
  min-height: 100vh;
  
  }


  .container {
 
  padding: 20px;
  width: 100%; 
  vertical-align: middle !important;
  
 
  /* max-width: 400px;  */
  /* height: 550px;*/
  }

  .step-form {
	display: none;
	}

  .step-form.active {
	display: block;
	animation: fadeInUp 0.5s ease-in-out forwards;
   
   }

   @keyframes fadeInUp {
from {
  opacity: 0;
  transform: translateX(-20px);
}
to {
  opacity: 1;
  transform: translateX(0px);
}
}

.accordion-button {
  padding: 0.375rem 0.75rem; 
}
#registrationForm{

border-radius: 10px; /* Adjust the value for the roundness of the border */
box-shadow: 2px 8px 16px rgba(0.2, 0, 0, 0.3); /* Adjust the values for the shadow effect */
margin-top: -10px; /* Adjust the value to lift it up or down */
padding: 20px; /* Adjust the padding as needed */
background-color:beige;



}


.tick-container {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(44, 183, 16);
  font-size: 24px;
  border-radius: 50%;

 
}

#successMsg{
  text-align: center;
}